#table>table {
    margin-top: 50px;
    position: relative;
    border-collapse: separate;
    /* Necesario para que border-spacing funcione */
    border-spacing: 2px;
    width: 100%;
}

#table {
    position: relative;
    height: 40vh;
    overflow-x: auto;

    box-shadow: -1px 0px 10px -3px black;
    background-color: #e2e2e2;
    display: block;
    justify-content: center;
    z-index: 1;

}

#table>table>tr>td {
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    max-width: 200px;
    /* Ajusta el ancho máximo según tus necesidades */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#table>table>tr:nth-child(2n)>td {
    background-color: rgb(196, 196, 196);
    color: black;
}

#table>table>tr:nth-child(2n+1)>td {
    background-color: rgb(223, 222, 222);
    color: black;
}

#table>table>tr:first-child>td {
    background-color: black;
    color: white;
}

#sinDatos {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sinDatos>span {
    width: 100px;
    height: 100px;
    background-color: #999494;
    mask-image: url(./icons/noData.svg);
    mask-repeat: no-repeat;
}

#sinDatos>h3 {
    font-family: 'Franklin Gothic';
    color: #959595;
    font-size: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 21px;
}