<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <div></div>SignalR WS Test
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Home">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Opciones De Conexion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Mensajes" Match="NavLinkMatch.All">
                <span class="bi" aria-hidden="true"></span> Envio De Mensajes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Impresora" Match="NavLinkMatch.All">
                <span class="bi" aria-hidden="true"></span> Opciones De Impresora
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BenchMark" Match="NavLinkMatch.All">
                <span class="bi" aria-hidden="true"></span> BenchMark
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Close" Match="NavLinkMatch.All">
                <span class="bi" aria-hidden="true"></span> Cerrar Conexiones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-ethernet" aria-hidden="true"></span> DA
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
